.sobre-empresa-section {
  margin: 4rem 0;

  .sobre-empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    gap: 0;

    .sobre-img {
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .sobre-content {
      background-color: #f8f9fa;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      border-radius: 0 16px 16px 0;
      border: 2px solid #1642162f;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.05);

      h2 {
        text-align: center;
        color: #2E4626;
        margin-bottom: 1.25rem;
        font-size: 2em;
      }

      .subtitulo {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        span {
          color: #2E4626;
          font-weight: bold;
          margin-right: 0.5rem;
        }

        hr {
          flex: 1;
          border: none;
          height: 1px;
          background-color: #1642162f;
        }
      }

      .text-box {
        background-color: #f8f9fa;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem 0 3rem;
        font-family: "Montserrat", sans-serif;
      }

      .lista-missao {
        list-style: none;
        padding: 0;
        margin: 0 0 1rem 0;

        li {
          background-color: #e4e4e4;
          color: #1a1a1a;
          padding: 0.75rem 1rem;
          border-radius: 0.5rem;
          margin-bottom: 0.75rem;

          &:hover {
            background-color: #3d493886;
            color: #fff;
            transition: all 0.3s ease;
          }
        }
      }

      .separator {
        border: none;
        height: 1px;
        background-color: #1642162f;
        margin-bottom: 2.5rem;
      }
    }
  }
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .sobre-empresa-section {
    .sobre-empresa {
      grid-template-columns: 1fr;
    }

    .sobre-content {
      padding: 1.5rem;

      .text-box {
        padding: 0.75rem;
      }

      .lista-missao {
        li {
          padding: 0.6rem 0.8rem;
        }
      }
    }
  }
}
